<div class="app-header">
  <h1>Currency converter</h1>
  <img class="exchange-header__image" src=".\assets\money.png" />
</div>
<div class="exchange-rates-block">
  <h2 class="exchange-header">Exchange rates</h2>

  <div class="currency-values-block">
    <div
      *ngFor="let currency of currencies"
      class="currency-value-block_column"
    >
      <h3 class="currency-value-block_header">
        {{ currency.ccy }}
      </h3>
      <div class="currency-value-block_prices">
        <h4><span> Sale:</span> {{ currency.sale }} {{ currency.base_ccy }}</h4>
        <h4><span> Buy:</span> {{ currency.buy }} {{ currency.base_ccy }}</h4>
      </div>
    </div>
  </div>
</div>
